body {
  background-image: url(./images/backgroundcity.jpeg);
  background-size: cover;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
}

.CharComp-Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  color: red;
}

.green {
  color: green;
}
