body {
  background-image: url(./images/backgroundcity.jpeg);
  background-size: cover;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.CharComp-Container {
  display: flex;
  justify-content: center;
  align-items: center;
}
